# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
frontend/node_modules/

# VS Code
.vscode/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db